In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
books = pd.read_csv(r'/content/Books.csv')
ratings = pd.read_csv(r'/content/Ratings.csv')
users = pd.read_csv(r'/content/Users.csv')

In [ ]:
print(books.shape,ratings.shape,users.shape)

(125076, 8) (1149780, 3) (278858, 3)

In [ ]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [ ]:
ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [ ]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [ ]:
books.isna().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-S            0
Image-URL-M            0
Image-URL-L            1
dtype: int64

In [ ]:
books.duplicated().sum()

0

In [ ]:
ratings.isna().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [ ]:
users.isna().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [ ]:
book_ratings = ratings.merge(books,on='ISBN')
book_ratings.head(2)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [ ]:
Rating_count = book_ratings.groupby('Book-Title').count()['Book-Rating'].reset_index()
Rating_count.rename(columns={'Book-Rating':'Rating Count'},inplace=True)
Rating_count.head(10)

                                          Book-Title  Rating Count
0   A Light in the Storm: The Civil War Diary of ...             4
1   Beyond IBM: Leadership Marketing and Finance ...             1
2   Earth Prayers From around the World: 365 Pray...            10
3   Final Fantasy Anthology: Official Strategy Gu...             4
4   Flight of Fancy: American Heiresses (Zebra Ba...             2
5   Good Wives: Image and Reality in the Lives of...            10
6                                       It Takes Two             2
7   Little Comic Shop of Horrors (Give Yourself G...             4
8   Murder of a Sleeping Beauty (Scumble River My...            11
9                                       Mystery Mile             2

In [ ]:
AvgRating_count = book_ratings.groupby('Book-Title').mean()['Book-Rating'].reset_index()
AvgRating_count.rename(columns={'Book-Rating':'Avg Rating'},inplace=True)
AvgRating_count.head(10)

                                          Book-Title  Avg Rating
0   A Light in the Storm: The Civil War Diary of ...    2.250000
1   Beyond IBM: Leadership Marketing and Finance ...    0.000000
2   Earth Prayers From around the World: 365 Pray...    5.000000
3   Final Fantasy Anthology: Official Strategy Gu...    5.000000
4   Flight of Fancy: American Heiresses (Zebra Ba...    4.000000
5   Good Wives: Image and Reality in the Lives of...    3.200000
6                                       It Takes Two    0.000000
7   Little Comic Shop of Horrors (Give Yourself G...    1.250000
8   Murder of a Sleeping Beauty (Scumble River My...    3.181818
9                                       Mystery Mile    0.000000

In [ ]:
popular_df = Rating_count.merge(AvgRating_count,on='Book-Title')
popular_df

,Book-Title,Rating Count,Avg Rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
2,Earth Prayers From around the World: 365 Pray...,10,5.000000
3,Final Fantasy Anthology: Official Strategy Gu...,4,5.000000
4,Flight of Fancy: American Heiresses (Zebra Ba...,2,4.000000
...,...,...,...
113146,??berallnie. Ausgew?hlte Gedichte 1928 - ...,1,10.000000
113147,??bermorgen.,1,0.000000
113148,??rger mit Produkt X. Roman.,4,5.250000
113149,??stlich der Berge.,3,2.666667
113150,??thique en toc,2,4.000000

In [ ]:
popular_df = popular_df[popular_df['Rating Count']>=250]

In [ ]:
popular_df = popular_df.sort_values('Avg Rating',ascending=False).head(50)
popular_df

,Book-Title,Rating Count,Avg Rating
37566,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
37558,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
37571,Harry Potter and the Sorcerer's Stone (Book 1),274,5.748175
37561,Harry Potter and the Order of the Phoenix (Boo...,346,5.488439
37551,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
89767,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117
87629,The Fellowship of the Ring (The Lord of the Ri...,361,4.925208
37574,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
99541,"The Two Towers (The Lord of the Rings, Part 2)",253,4.782609
103324,To Kill a Mockingbird,506,4.687747
85747,The Da Vinci Code,894,4.652125
87896,The Five People You Meet in Heaven,427,4.543326
84324,The Catcher in the Rye,448,4.537946
326,1984,283,4.469965
92185,The Lovely Bones: A Novel,1295,4.468726
67188,Prodigal Summer: A Novel,253,4.450593
59992,Neverwhere,264,4.439394
97131,The Secret Life of Bees,772,4.432642
104898,"Tuesdays with Morrie: An Old Man, a Young Man,...",492,4.363821
78740,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890
96083,The Red Tent (Bestselling Backlist),723,4.334716
89752,The Hitchhiker's Guide to the Galaxy,266,4.327068
60286,Nickel and Dimed: On (Not) Getting By in America,335,4.289552
43607,Into the Wild,252,4.273810
29880,Fahrenheit 451,404,4.269802
34927,Girl with a Pearl Earring,526,4.218631
63530,Outlander,280,4.160714
109658,Where the Heart Is (Oprah's Book Club (Paperba...,585,4.105983
72745,Seabiscuit: An American Legend,275,4.098182
1039,"A Child Called \It\"": One Child's Courage to S...",262,4.091603
50313,Life of Pi,664,4.088855
82489,The Bean Trees,389,4.087404
4039,ANGELA'S ASHES,279,4.075269
35655,Good in Bed,490,4.055102
88755,"The Golden Compass (His Dark Materials, Book 1)",332,4.048193
30399,Fast Food Nation: The Dark Side of the All-Ame...,321,4.037383
75397,Skipping Christmas,321,4.018692
6045,American Gods,302,4.006623
49290,Left Behind: A Novel of the Earth's Last Days ...,318,4.003145
84885,The Color Purple,314,3.964968
74775,Silence of the Lambs,255,3.937255
4188,About a Boy,261,3.888889
73687,Seven Up (A Stephanie Plum Novel),278,3.888489
81685,The Alchemist: A Fable About Following Your Dream,266,3.875940
79376,Suzanne's Diary for Nicholas,455,3.837363
51737,Lord of the Flies,257,3.813230
2720,A Prayer for Owen Meany,413,3.796610
37387,Hard Eight : A Stephanie Plum Novel (A Stephan...,267,3.790262
99859,"The Vampire Lestat (Vampire Chronicles, Book II)",301,3.777409
109880,White Oleander : A Novel (Oprah's Book Club),356,3.772472

# Colloboarative System

In [ ]:
users.drop('Age',axis=1,inplace=True)

In [ ]:
books.dropna(inplace=True)

In [ ]:
book_ratings.dropna(inplace=True)

In [ ]:
book_ratings.shape

(816184, 10)

In [ ]:
book_ratings.head(2)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [ ]:
x = book_ratings.groupby('User-ID').count()['Book-Rating']>200
exp_users = x[x].index

In [ ]:
filtered_rating_users = book_ratings[book_ratings['User-ID'].isin(exp_users)]
filtered_rating_users

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
5,23768,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
7,28523,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
15,77940,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
16,81977,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
815946,275970,1880837927,0,The Theology of the Hammer,Millard Fuller,1994,Smyth &amp; Helwys Publishing,http://images.amazon.com/images/P/1880837927.0...,http://images.amazon.com/images/P/1880837927.0...,http://images.amazon.com/images/P/1880837927.0...
815947,275970,188717897X,0,The Ordeal of Integration: Progress and Resent...,Orlando Patterson,1998,Civitas Book Publisher,http://images.amazon.com/images/P/188717897X.0...,http://images.amazon.com/images/P/188717897X.0...,http://images.amazon.com/images/P/188717897X.0...
815948,275970,1888889047,0,Pushcart's Complete Rotten Reviews &amp; Rejec...,Bill Henderson,1998,Pushcart Press,http://images.amazon.com/images/P/1888889047.0...,http://images.amazon.com/images/P/1888889047.0...,http://images.amazon.com/images/P/1888889047.0...
815949,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),http://images.amazon.com/images/P/1931868123.0...,http://images.amazon.com/images/P/1931868123.0...,http://images.amazon.com/images/P/1931868123.0...
815950,275970,3411086211,10,Die Biene.,Sybil Gr?fin Sch?nfeldt,1993,"Bibliographisches Institut, Mannheim",http://images.amazon.com/images/P/3411086211.0...,http://images.amazon.com/images/P/3411086211.0...,http://images.amazon.com/images/P/3411086211.0...

In [ ]:
y = filtered_rating_users.groupby('Book-Title').count()['Book-Rating']>50
famous_books = y[y].index

In [ ]:
final_ratings = filtered_rating_users[filtered_rating_users['Book-Title'].isin(famous_books)]
final_ratings

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
61,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
63,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
64,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
67,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
72,23768,0446520802,6,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
...,...,...,...,...,...,...,...,...,...,...
810689,264317,0833563505,0,The Queen of the Damned (Vampire Chronicles (P...,Anne Rice,1999,Sagebrush Bound,http://images.amazon.com/images/P/0833563505.0...,http://images.amazon.com/images/P/0833563505.0...,http://images.amazon.com/images/P/0833563505.0...
811973,266865,0531001725,10,The Catcher in the Rye,Jerome David Salinger,1973,Scholastic Library Pub,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...
813912,271284,0440910927,0,The Rainmaker,John Grisham,1995,Island,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...
814204,271705,B0001PIOX4,0,Fahrenheit 451,Ray Bradbury,1993,Simon &amp; Schuster,http://images.amazon.com/images/P/B0001PIOX4.0...,http://images.amazon.com/images/P/B0001PIOX4.0...,http://images.amazon.com/images/P/B0001PIOX4.0...
815933,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...

In [ ]:
final_df = final_ratings.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')
final_df.fillna(0,inplace=True)
final_df

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271448,271705,273979,274004,274061,274301,274308,275970,277427,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity_scores = cosine_similarity(final_df)
similarity_scores.shape

(560, 560)

In [ ]:
np.where(final_df.index=='1984')[0][0]

0

In [ ]:
def recommend(book):
    book_index = np.where(final_df.index == book)[0][0]
    distances = similarity_scores[book_index]
    book_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in book_list:
        print(final_df.index[i[0]])

In [ ]:
recommend('1984')

The Handmaid's Tale
Animal Farm
The Vampire Lestat (Vampire Chronicles, Book II)
Brave New World
The Fellowship of the Ring (The Lord of the Rings, Part 1)

In [ ]:
recommend('Message in a Bottle')

A Walk to Remember
Nights in Rodanthe
The Mulberry Tree
River's End
All I Really Need to Know